/*******************************/
/********** VARIABLES **********/
/*******************************/
:root {
    /* Colors */
    --black: #606060;
    --blue: #2fa2be;
    --grey: #848484;
    --navy: #3292b9;
}

/***************************/
/***** KEYFRAMES RULES *****/

/* Slider Keyframes */
@keyframes slider {
    from {

    }
    to {

    }
}

/* Duration Keyframes */
@keyframes duration {
    from {

    }
    to {

    }
}


/**************************/
/********** TAGS **********/
/**************************/

/* Global */
html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}

/* Structure */
header {
    margin-top: 10rem;
}

/* Titles */
h1 {
    text-transform: uppercase;
}

h1 strong {
    color: var(--blue);
}

/* Links */
a {
    text-decoration: none;
}

ul a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    color: var(--grey);
}

ul a:hover {
    padding-top: 3.8rem;
    border-top: solid var(--blue);
    color: var(--black);
}

/* List & Menu */
ul {
    display: none;
    padding: 0;
    list-style: none;
}

nav:hover ul {
    display: flex;
}

/* Text */


/* Illustrations */
header figure {
    margin: 0;
}

header img {
    width: 100%;
}

/* Form */

/**************/
/* ATTRIBUTES */
nav:hover [title="Accueil"] {
    display: none;
}

/*******************/
/***** CLASSES *****/

/* Elements */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    background-color: white;
}

/* Helpers */


/*********************************/
/********** MEDIA RULES **********/
/*********************************/

/* Mobile Landscape */
@media (min-width: 576px) {

}

/* Tablet Portrait */
@media (min-width: 768px) {

}

/* Tablet Landscape */
@media (min-width: 992px) {
    ul {
        display: flex;
    }

    nav:hover [title="Accueil"] {
        display: block;
    }
}

/* Desktop */
@media (min-width: 1200px) {

}