/*******************************/
/********** VARIABLES **********/
/*******************************/
:root {
    /* Colors */
    --black: #606060;
    --blue: #2fa2be;
    --grey: #848484;
    --navy: #3292b9;
}


/**************************************/
/********** ANIMATIONS RULES **********/
/**************************************/

/****************************/
/***** Rotate Animation *****/
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}

/***************************/
/***** Scale Animation *****/
@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

/**************************/
/***** Skew Animation *****/
@keyframes skew {
    from {
        transform: skew(0);
    }
    to {
        transform: skew(180deg, 180deg);
    }
}

/******************************************/
/***** Horizontal Translate Animation *****/
@keyframes translateX {
    from {
        transform: translateX(0);
        animation-play-state: paused;
    }
    10% {
        transform: translateX(0);
        animation-play-state: running;
    }
    to {
        transform: translateX(-50%);
    }
}

/*****************************************/
/****** Vertical Translate Animation *****/
@keyframes translateY {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1rem);
    }
}

/***************************************/
/***** Progressive Width Animation *****/
@keyframes width {
    from {
        width: 0;
        animation-play-state: paused;
    }
    10% {
        width: 0;
        animation-play-state: running;
    }
    to {
        width: 100%;
    }
}


/**************************/
/********** TAGS **********/
/**************************/

/* Global */
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
}

main {
    line-height: 1.8;
}

/* Structure */
header {
    margin-top: 10rem;
}

article section {
    margin: 2rem;
}

/* Titles */
h1,
h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h1 strong {
    color: var(--blue);
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

/* List & Menu */
ul {
    padding: 0;
    list-style: none;
}

/* Medias */
#services img {
    display: none;
}


/*****************************/
/********** CLASSES **********/
/*****************************/

/******************/
/***** Navbar *****/
.navbar,
#nav-close:checked ~ ul {
    display: flex;
}

/* Navbar Main Element */
.navbar {
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    background-color: white;
    font-weight: bold;
    letter-spacing: -1px;
    z-index: 10;
}

/* Navbar Hidden Elements */
.navbar input,
.navbar ul,
#nav-open:checked ~ [for="nav-open"],
#nav-close:checked ~ [for="nav-close"],
#nav-close:checked ~ a {
    display: none;
}

/* Navbar Logo */
.navbar [title="Accueil"] {
    padding: 2.2rem 1rem 2.1rem;
    animation: skew 2s linear 1s;
}

/* Navbar Links */
.navbar ul a {
    padding: 3.9rem 1.2rem 4.1rem;
    color: var(--grey);
}

.navbar ul a:hover,
.navbar ul a:active,
.navbar ul a:focus {
    border-top: solid var(--blue);
    padding-top: 3.9rem;
    color: var(--black);
}

/* Navbar Visual Controls */
.navbar label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem 1rem;
    cursor: pointer;
    animation : translateY 1s ease-in-out infinite alternate;
}

/* Navbar Next Content Visibility */
.navbar + * {
    margin-top: 10rem;
}

/******************/
/***** Button *****/
.btn {
    border-bottom: solid var(--navy);
    border-radius: 2px;
    padding: 1rem 1.5rem;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: -1px;
}

.btn:hover,
.btn:active,
.btn:focus {
    border: ridge var(--blue);
    background-color: var(--navy);
    color: Khaki;
}


/******************/
/***** Slider *****/

/* Slider Main Element */
.slider {
    position: relative;
    overflow: hidden;
}

/* Slider Hidden Element */
.slider input,
[for="slide-auto"] {
    display: none;
}

/* Slider Pictures */
.slide {
    display: flex;
    width: 200%;
    margin: 0;
}

#slide-auto:checked ~ .slide {
    animation: translateX 7s ease-out infinite alternate 1s;
}

#slide-left:checked ~ .slide {
    transform: translateX(0);
}

#slide-right:checked ~ .slide {
    transform: translateX(-50%);
}

.slide img {
    width: 100%;
}

/* Slider Content */
.slider section,
.slider label {
    position: absolute;
}

.slider section {
    top: 5%;
    left: 10%;
    width: 40%;
    color: white;
    font-weight: bold;
}

.slider p {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* Slider Visual Controls */
.slider label {
    top: 30%;
    overflow: hidden;
    color: white;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    transform: scale(.6);
    z-index: 5;
}

[for="slide-auto"] {
    right: 50%;
    border-radius: 50%;
    padding: 2rem;
}

[for="slide-auto"]:hover,
[for="slide-auto"]:active,
[for="slide-auto"]:focus,
.slider section:hover ~ [for="slide-auto"],
.slider section:active ~ [for="slide-auto"],
.slider section:focus ~ [for="slide-auto"] {
    display: block;
}

[for="slide-left"] {
    left: -8px;
    border-radius: 0 5rem 5rem 0;
    padding: 2rem 1rem 2rem 0;
}

[for="slide-right"] {
    right: -8px;
    border-radius: 5rem 0 0 5rem;
    padding: 2rem 0 2rem 1rem;
}

/* Timeline */
.timeline {
    margin-top: -3px;
    height: 6px;
    background-color: var(--blue);
}

#slide-auto:checked ~ .timeline {
    animation: width 7s ease-out infinite alternate 1s;
}

#slide-left:checked ~ .timeline {
    width: 0;
}

#slide-right:checked ~ .timeline {
    width: 100%;
}

/*********************************/
/***** Articles Introduction *****/
.grey-line,
.grey-line + p {
    margin-right: auto;
    margin-left: auto;
}

.grey-line {
    width: 12rem;
    height: 1px;
    background-color: var(--grey);
}

.fa-circle {
    display: block;
    position: relative;
    bottom: 6px;
    color: var(--blue);
}

.grey-line + p {
    margin-top: 2.5rem;
    width: 55%;
}

.fa-circle,
.grey-line + p {
    text-align: center;
}


/*********************************/
/********** MEDIA RULES **********/
/*********************************/

/****************************/
/***** Mobile Landscape *****/
@media (min-width: 576px) {
    /* Buttons */
    .btn {
        font-size: 1.1rem;
    }

    /* Slider Content */
    .slider section {
        top: 10%;
    }

    h1,
    h2 {
        font-size: 2.1rem;
    }

    .slider p {
        margin-bottom: 1.5rem;
    }

    /* Slider Visual Controls */
    .slider label {
        top: 35%;
        transform: scale(.7);
    }

    [for="slide-left"] {
        left: -6px;
    }

    [for="slide-right"] {
        right: -6px;
    }

    /* Timeline */
    .timeline {
        height: 7px;
    }

    /* Articles Introduction */
    .grey-line + p {
        width: 50%;
    }
}

/***************************/
/***** Tablet Portrait *****/
@media (min-width: 768px) {
    /* Structures */
    article section {
        margin: 4rem;
    }

    /* Medias */
    #services img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    /* Display Navbar Logo & List */
    #nav-close:checked + a,
    .navbar ul {
        display: flex;
    }

    /* Hide Navbar Visual Controls */
    .navbar label {
        display: none;
    }

    /* Buttons */
    .btn {
        font-size: 1.2rem;
    }

    /* Slider Content */
    .slider section {
        top: 15%;
    }

    h1,
    h2 {
        font-size: 2.8rem;
    }

    .slider p {
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    /* Slider Visual Controls */
    .slider label {
        top: 40%;
        transform: scale(.8);
    }

    [for="slide-left"] {
        left: -4px;
    }

    [for="slide-right"] {
        right: -4px;
    }

    /* Timeline */
    .timeline {
        height: 8px;
    }

    /* Articles Introduction */
    .grey-line + p {
        width: 45%;
    }
}

/****************************/
/***** Tablet Landscape *****/
@media (min-width: 992px) {
    /* Buttons */
    .btn {
        font-size: 1.4rem;
    }

    /* Slider Content */
    .slider section {
        top: 20%;
    }

    h1,
    h2 {
        font-size: 3.4rem;
    }

    .slider p {
        margin-bottom: 2.5rem;
    }

    /* Slider Visual Controls */
    .slider label {
        top: 43%;
        transform: scale(.9);
    }

    [for="slide-left"] {
        left: -3px;
    }

    [for="slide-right"] {
        right: -3px;
    }

    /* Timeline */
    .timeline {
        height: 9px;
    }

    /* Articles Introduction */
    .grey-line + p {
        width: 40%;
    }
}

/*******************/
/***** Desktop *****/
@media (min-width: 1200px) {
    /* Buttons */
    .btn {
        font-size: 1.5rem;
    }

    /* Slider Content */
    .slider section {
        top: 25%;
    }

    h1,
    h2 {
        font-size: 4rem;
    }

    .slider p {
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }

    /* Slider Visual Controls */
    .slider label {
        top: 45%;
        transform: scale(1);
    }

    [for="slide-left"] {
        left: -2px;
    }

    [for="slide-right"] {
        right: -2px;
    }

    /* Timeline */
    .timeline {
        height: 10px;
    }

    /* Articles Introduction */
    .grey-line + p {
        width: 35%;
    }
}