//*********************************
//********** DECORATIONS **********
//*********************************

// 1. Font-Awesome classes
// 2. Under-Title class


//******************
//***** Center *****
.center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: $center;
}


//******************
//***** Rotate *****
}

.fa-circle,
.fa-chart-line,
.fa-cubes,
.fa-chart-pie {
  color: $blue;
}

.fa-caret-down {
  bottom: 6px;
  color: $navy;
}


/***********************/
/***** Under-Title *****/
.under-title {
  margin-right: auto;
  margin-left: auto;
  width: 12rem;
  height: 1px;
  background-color: $grey;

  .fa-circle {
    bottom: 6px;
    text-align: center;
  }

  & + p {
    margin-top: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    text-align: center;

    @media (min-width: 576px) {
      width: 70%;
    }

    @media (min-width: 768px) {
      width: 65%;
    }

    @media (min-width: 992px) {
      width: 60%;
    }

    @media (min-width: 1200px) {
      width: 55%;
    }
  }
}




