.fa-circle,
.fa-caret-down {
  position: relative;
}

section .fa-circle {
  left: 1rem;
  bottom: 5px;
}

.fa-circle,
.fa-chart-line,
.fa-cubes,
.fa-chart-pie {
  color: var(--blue);
}

.fa-caret-down {
  bottom: 6px;
  color: var(--navy);
}

.grey-line,
.grey-line + p {
  margin-right: auto;
  margin-left: auto;
}

.grey-line {
  width: 12rem;
  height: 1px;
  background-color: var(--grey);
}

.grey-line .fa-circle {
  bottom: 6px;
}

.grey-line + p {
  margin-top: 2.5rem;
  width: 75%;
}

.grey-line .fa-circle,
.grey-line + p {
  text-align: center;
}

@media (min-width: 576px) {
  .grey-line + p {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .grey-line + p {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .grey-line + p {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .grey-line + p {
    width: 55%;
  }
}