//*********************************
//********** DECORATIONS **********
//*********************************

// 1. Center
// 2. Circle
// 3. Disc
// 4. Rotate
// 5. Under-Title
// 6. Font-Awesome


//******************
//***** Center *****
.center {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: $center;

  @media (min-width: 576px) {
    top: 50%;
    left: 5%;
  }
}


//******************
//***** Circle *****
.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid $grey;
  width: 67px;
  height: 67px;
  -webkit-transform: $center rotate(45deg);
  -ms-transform: $center rotate(45deg);
  transform: $center rotate(45deg);
}


//****************
//***** Disc *****
.disc {
  position: absolute;
  border: 5px solid white;
  width: 15px;
  height: 15px;
  background: $blue;
  border-radius: 50%;
}


//******************
//***** Rotate *****
.rotate {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-animation: rotate 2s ease-in-out 2 alternate;
  animation: rotate 2s ease-in-out 2 alternate;

  @media (min-width: 576px) {
    top: 50%;
    left: 5%;
  }

  .disc {
    -webkit-transform: $center translate(33px, 0);
    -ms-transform: $center translate(33px, 0);
    transform: $center translate(33px, 0);
  }
}

*:hover > .rotate,
*:focus > .rotate,
*:active > .rotate {
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}


/***********************/
/***** Under-Title *****/
.under-title {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 140px;
  height: 1px;
  background-color: $grey;

  .disc {
    top: -12px;
    left: 58px;
  }
}

*:hover > .under-title .disc,
*:focus > .under-title .disc,
*:active > .under-title .disc {
  -webkit-animation: translateX-medium 4s ease-in-out;
  animation: translateX-medium 4s ease-in-out;
}


/************************/
/***** Font-Awesome *****/
.fa-chart-line,
.fa-cubes,
.fa-chart-pie {
  color: $blue;
}

.fa-caret-down {
  display: none;
  position: absolute;
  left: 40%;
  bottom: -18px;
  color: $navy;
}

#all:checked ~ .menu [for="all"] .fa-caret-down,
#creative:checked ~ .menu [for="creative"] .fa-caret-down,
#corporate:checked ~ .menu [for="corporate"] .fa-caret-down,
#portfolio:checked ~ .menu [for="portfolio"] .fa-caret-down {
  @media (min-width: 576px) {
    display: block;
  }
}

.fa-eye {
  position: absolute;
  top: -15px;
  right: 20px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  background-color: $blue;
}
