//*****************************
//********** HELPERS **********
//*****************************


//*******************
//***** Display *****
.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none {
  display: none;
}


//********************
//***** Position *****
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


//*********************
//***** Container *****
.container {
  margin: auto;
  max-width: 80%;
}


//******************
//***** Cursor *****
.crosshair {
  cursor: crosshair;
}

.pointer {
  cursor: pointer;
}