//*****************************
//********** HELPERS **********
//*****************************


/***************************/
/***** Display Helpers *****/
.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none {
  display: none;
}


/****************************/
/***** Position Helpers *****/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


/****************************/
/***** Container Helper *****/
.container {
  margin: auto;
  max-width: 80%;
}


/**************************/
/***** Cursor Helpers *****/
.crosshair {
  cursor: crosshair;
}

.pointer {
  cursor: pointer;
}