//*****************************
//********** HELPERS **********
//*****************************

// 1. Display
// 2. Position
// 3. Container
// 4. Cursor


/***************************/
/***** Display Helpers *****/
.block {
  display: block;
}

.flex {
  display: flex;
}

.none {
  display: none;
}


/****************************/
/***** Position Helpers *****/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


/****************************/
/***** Container Helper *****/
.container {
  margin: auto;
  max-width: 80%;
}


/**************************/
/***** Cursor Helpers *****/
.crosshair {
  cursor: crosshair;
}

.pointer {
  cursor: pointer;
}