//*******************************
//********** KEYFRAMES **********
//*******************************

// 1. Rotate
// 2. Rotate3d
// 3. Scale
// 4. Skew
// 5. Translate
// 6. TranslateX
// 7. TranslateY
// 8. Width

/*****************/
/***** Opacity *****/
@keyframes opacity {
  from {
    opacity: 0;
  }
}


/******************/
/***** Rotate *****/
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}


/********************/
/***** Rotate3d *****/
@keyframes rotate3d {
  from {
    opacity: 0;
    transform: rotate3d(1, 0, 1, 180deg);
  }
}


/*****************/
/***** Scale *****/
@keyframes scale {
  to {
    transform: scale(1.5);
  }
}

@keyframes scale-opacity {
  from {
    opacity: 0;
    transform: scale(0, 2);
  }
}


/****************/
/***** Skew *****/
@keyframes skew {
  to {
    transform: skew(180deg, 180deg);
  }
}


/*********************/
/***** Translate *****/
@keyframes translate {
  from,
  to {
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-5px, -5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(5px, 5px);
  }
}


/**********************/
/***** TranslateX *****/
@keyframes translateX-large {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-250%);
  }
  75% {
    transform: translateX(250%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes translateX-paused {
  from {
    transform: translateX(0);
    animation-play-state: paused;
  }
  10% {
    transform: translateX(0);
    animation-play-state: running;
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes translateX-wide {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}


/**********************/
/***** TranslateY *****/
@keyframes translateY-opacity {
  from {
    opacity: 0;
    transform: translateY(68px);
  }
}

@keyframes translateY-tiny {
  to {
    transform: translateY(10px);
  }
}


/*****************/
/***** Width *****/
@keyframes width {
  from {
    width: 0;
    animation-play-state: paused;
  }
  10% {
    width: 0;
    animation-play-state: running;
  }
  to {
    width: 100%;
  }
}