//**************************
//********** TAGS **********
//**************************

// 1. Global
// 2. Structure
// 3. Titles
// 4. Lists
// 5. Links
// 6. Medias
// 7. Text
// 8. Forms


/******************/
/***** Global *****/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


/*********************/
/***** Structure *****/
article,
footer {
  padding-top: $navbar-height;
}


/******************/
/***** Titles *****/
h1 {
  line-height: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;

  @media (min-width: 576px) {
    font-size: 2.1rem;
  }

  @media (min-width: 768px) {
    font-size: 2.8rem;
  }

  @media (min-width: 992px) {
    font-size: 3.4rem;
  }

  @media (min-width: 1200px) {
    font-size: 4rem;
  }

  strong {
    color: $blue;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 576px) {
    font-size: 2.5rem;
  }

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 992px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 4rem;
  }
}


/*****************/
/***** Lists *****/
ul {
  padding: 0;
  list-style: none;
}


/*****************/
/***** Links *****/
a {
  text-decoration: none;

  &:active,
  &:focus {
    outline: 0;
    -moz-outline-style: none;
  }
}


/******************/
/***** Medias *****/
figure img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 88vh;
}


/****************/
/***** Text *****/
article > p {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
  width: 75%;
  text-align: center;
  color: $grey;

  @media (min-width: 576px) {
    width: 70%;
  }

  @media (min-width: 768px) {
    width: 65%;
  }

  @media (min-width: 992px) {
    width: 60%;
  }

  @media (min-width: 1200px) {
    width: 55%;
  }
}


/*****************/
/***** Forms *****/
[type="radio"] {
  display: none;
}