//*******************************
//********** VARIABLES **********
//*******************************


//******************
//***** Colors *****
$black: #606060;
$blue:  #2fa2be;
$grey:  #848484;
$navy:  #3292b9;
