//*******************************
//********** VARIABLES **********
//*******************************

// 1. Sizes
// 2. Colors
// 3. Animations


//****************
//***** Sizes *****
$navbar-height: 100px;


//******************
//***** Colors *****
$black: #606060 !default;
$blue:  #2fa2be !default;
$grey:  #848484 !default;
$navy:  #3292b9 !default;


//**********************
//***** Animations *****
$center:  translate(-50%, -50%);