/* Gallery Class */
.gallery {
  flex-wrap: wrap;
  margin: -.6rem;
}

.gallery figure {
  margin: .6rem;
  width: calc(100% - 1.2rem);
}

.gallery figure:hover figcaption {
  animation: translate-Y 1s;
}