//****************************
//********** Button **********
//****************************

// 1. Button class


/******************/
/***** Button *****/
.btn {
  display: inline-block;
  border-right: none;
  border-bottom: solid $navy;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: $blue;
  color: white;
  font-size: 1rem;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    border-bottom: solid $blue;
    transform: scale(1.2);
    background-color: $navy;
    color: $light-grey;
  }

  @media (min-width: 576px) {
    font-size: 1.1rem;
  }

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }

  @media (min-width: 992px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}