//****************************
//********** Button **********
//****************************


.btn {
  display: inline-block;
  border-bottom: solid $navy;
  border-radius: 2px;
  padding: 8px 16px;
  background-color: $blue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: -1px;
}

.btn:hover,
.btn:active,
.btn:focus {
  border: ridge $blue;
  background-color: $navy;
  color: Khaki;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: auto;
  list-style: none;
}

.btn-menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
}

.btn-menu * {
  cursor: crosshair;
}

.btn-menu + figure > * {
  display: none;
}

@media (min-width: 576px) {
  .btn {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .btn {
    font-size: 1.5rem;
  }
}