//*****************************
//********** CONTACT **********
//*****************************

.contact {
  padding-bottom: 20px;
  height: auto;
  background-color: rgba(239,245,247,.9);

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    right: 100px;
    margin-top: -250px;
    -webkit-animation: translateX-wide 5s ease-out;
    animation: translateX-wide 5s ease-out;
  }

  & > * {
    margin-right: 20px;
    margin-left: 20px;
  }

  h3 {
    margin: 20px;
    font-size: 2.5rem;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  section {
    text-align: center;
    color: $grey;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  h4 {
    margin: 0;
  }

  address {
    font-style: normal;

    & + * {
      text-decoration: dotted underline;
    }
  }

  [placeholder] {
    display: block;
    margin: 10px -10px;
    padding: 5px;
    width: 100%;
    font-weight: bold;

    @media (min-width: 768px) {
      width: 300px;
    }
  }

  [placeholder="Message"] {
    border: solid 1px $grey;
    border-radius: 4px;
    width: calc(100% + 10px);
  }
}