//***************************
//********** FORMS **********
//***************************

.form {
  position: absolute;
  top: 50%;
  right: 10rem;
  margin-top: -25rem;
  padding-bottom: 2rem;
  height: 50rem;
  background-color: rgba(239,245,247,.9);

  & > * {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  h3 {
    margin: 2rem;
    font-size: 2.5rem;
  }

  section {
    color: $grey;
  }

  h4 {
    margin: 0;
  }

  address {
    font-style: normal;
  }

  [placeholder] {
    display: block;
    margin: 1rem 0;
    padding: .5rem;
    width: 30rem;
    font-weight: bold;
  }

  [placeholder="Message"] {
    width: 31rem;
  }
}