/* Gallery Class */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: -.6rem;
}

.gallery figure {
  position: relative;
  overflow: hidden;
  margin: .6rem;
  width: calc(100% - 1.2rem);
}

.gallery figure:hover figcaption {
  animation: translate-Y 1s;
}

#all:checked ~ .gallery .all,
#creative:checked ~ .gallery .creative,
#corporate:checked ~ .gallery .corporate,
#portfolio:checked ~ .gallery .portfolio,
.gallery figure:hover figcaption {
  display: block;
}

.gallery figure:hover figcaption {
  position: absolute;
}

.gallery * {
  cursor: crosshair;
}

@media (min-width: 576px) {
  .gallery {
    margin: -.8rem;
  }

  .gallery figure {
    margin: .8rem;
    width: calc(100% / 2 - 1.6rem);
  }
}

@media (min-width: 992px) {
  .gallery {
    margin: -1rem;
  }

  .gallery figure {
    margin: 1rem;
    width: calc(100% / 3 - 2rem);
  }
}

@media (min-width: 1200px) {
  .gallery {
    margin: -1.2rem;
  }

  .gallery figure {
    margin: 1.2rem;
    width: calc(100% / 4 - 2.4rem);
  }
}