//*****************************
//********** GALLERY **********
//*****************************

// 1. Gallery class
// 2. Gallery controls


/*******************/
/***** Gallery *****/
.gallery {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 40px -6px;

  @media (min-width: 576px) {
    margin-right: -8px;
    margin-left: -8px;
  }

  @media (min-width: 992px) {
    margin-right: -10px;
    margin-left: -10px;
  }

  @media (min-width: 1200px) {
    margin-right: -12px;
    margin-left: -12px;
  }

  * {
    cursor: crosshair;
  }

  figure {
    position: relative;
    overflow: hidden;
    margin: 6px;
    width: calc(100% - 12px);
    line-height: 0;

    @media (min-width: 576px) {
      margin: 8px;
      width: calc(100% / 2 - 16px);
    }

    @media (min-width: 992px) {
      margin: 10px;
      width: calc(100% / 3 - 20px);
    }

    @media (min-width: 1200px) {
      margin: 12px;
      width: calc(100% / 4 - 24px);
    }

    &:hover figcaption {
      display: block;
      -webkit-animation: translateY-opacity 2s;
      animation: translateY-opacity 2s;
      bottom: 0;
    }
  }

  figcaption {
    display: none;
    position: absolute;
    bottom: -60%;
    width: 100%;
    line-height: 1;
    background-color: rgba(0,0,0,.5);
  }

  a {
    color: white;

    * {
      margin: 0;
    }

    h3 {
      padding: 10px;
    }

    p {
      padding: 0 10px 20px;
    }
  }
}


/****************************/
/***** Gallery Controls *****/
#all:checked ~ .gallery .all,
#creative:checked ~ .gallery .creative,
#corporate:checked ~ .gallery .corporate,
#portfolio:checked ~ .gallery .portfolio {
  display: block;
  -webkit-animation: rotate3d 2s;
  animation: rotate3d 2s;
}