//*****************************
//********** GALLERY **********
//*****************************

// 1. Gallery class
// 2. Gallery controls


/*******************/
/***** Gallery *****/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: -.6rem;
  animation: opacity 5s linear;

  @media (min-width: 576px) {
    margin: -.8rem;
  }

  @media (min-width: 992px) {
    margin: -1rem;
  }

  @media (min-width: 1200px) {
    margin: -1.2rem;
  }

  * {
    cursor: crosshair;
  }

  figure {
    position: relative;
    overflow: hidden;
    margin: .6rem;
    width: calc(100% - 1.2rem);

    @media (min-width: 576px) {
      margin: .8rem;
      width: calc(100% / 2 - 1.6rem);
    }

    @media (min-width: 992px) {
      margin: 1rem;
      width: calc(100% / 3 - 2rem);
    }

    @media (min-width: 1200px) {
      margin: 1.2rem;
      width: calc(100% / 4 - 2.4rem);
    }

    &:hover figcaption {
      display: block;
      animation: translateY-opacity 3s;
      bottom: 0;
    }
  }

  figcaption {
    display: none;
    position: absolute;
    bottom: -60%;
    width: 100%;
    line-height: 1;
    background-color: rgba(0,0,0,.5);
  }

  a {
    color: white;

    * {
      margin: 0;
    }

    h3 {
      padding: 1rem;
    }

    p {
      padding: 0 1rem 2rem;
    }
  }
}


/****************************/
/***** Gallery Controls *****/
#all:checked ~ .gallery .all,
#creative:checked ~ .gallery .creative,
#corporate:checked ~ .gallery .corporate,
#portfolio:checked ~ .gallery .portfolio {
  display: block;
}