/********** MENU **********/

// 1. Menu class
// 2. Menu Controls

/***** Menu *****/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: none;
  border-radius: 5px;
  padding: 0;
  width: 40%;
  list-style: none;
  background-color: $light-grey;
  color: $grey;

  @media  (min-width: 576px) {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  @media  (min-width: 768px) {
    width: 80%;
  }

  @media  (min-width: 992px) {
    width: 60%;
  }

  @media  (min-width: 1200px) {
    width: 40%;
  }

  * {
    cursor: pointer;
  }

  label {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    padding: 6px 12px;

    @media  (min-width: 576px) {
      width: 25%;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: solid $navy;
      font-weight: bold;
      background-color: $blue;
      color: white;
    }
  }

  & + figure > * {
    display: none;
  }
}

/***** Menu Controls *****/
#all:checked ~ .menu [for="all"],
#creative:checked ~ .menu [for="creative"],
#corporate:checked ~ .menu [for="corporate"],
#portfolio:checked ~ .menu [for="portfolio"] {
  border-bottom: solid $navy;
  font-weight: bold;
  background-color: $blue;
  color: white;
}
