//****************************
//********** NAVBAR **********
//****************************

// 1. Navbar class
// 2. Navbar Controls


/******************/
/***** Navbar *****/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background-color: white;
  z-index: 10;

  @media (min-width: 576px) {
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    justify-content: space-around;
  }

  [title="Accueil"] {
    padding: 22px 10px 21px;
    animation: skew 2s linear 1s;

    @media (min-width: 992px) {
      margin-left: -5%;
    }

    @media (min-width: 1200px) {
      margin-left: -10%;
    }
  }

  ul {
    @media (min-width: 576px) {
      display: flex;
    }

    @media (min-width: 992px) {
      margin-right: -5%;
    }

    @media (min-width: 1200px) {
      margin-right: -10%;
    }

    a {
      padding: 39px 12px 41px;
      color: $grey;

      &:hover,
      &:active,
      &:focus {
        border-top: solid $blue;
        padding-top: 39px;
        color: $black;
      }
    }
  }

  label {
    display: flex;
    top: 0;
    right: 0;
    padding: 30px 10px;
    animation : translateY-tiny 1s ease-in-out infinite alternate;

    @media (min-width: 576px) {
      display: none;
    }
  }

  & + * {
    margin-top: $navbar-height;
  }
}


/***************************/
/***** Navbar Controls *****/
#nav-close:checked ~ ul {
  display: flex;
}

#nav-close:checked ~ a,
#nav-close:checked ~ [for="nav-close"],
#nav-open:checked ~ [for="nav-open"] {
  display: none;
}

#nav-close:checked + a {
  @media (min-width: 576px) {
    display: flex;
  }
}