//****************************
//********** NAVBAR **********
//****************************

// 1. Navbar class
// 2. Navbar Controls


/******************/
/***** Navbar *****/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  font-weight: bold;
  letter-spacing: -1px;
  z-index: 10;

  [title="Accueil"] {
    padding: 22px 10px 21px;
    animation: skew 2s linear 1s;
  }

  ul {
    @media (min-width: 768px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    a {
      padding: 39px 12px 41px;
      color: $grey;

      &:hover,
      &:active,
      &:focus {
        border-top: solid $blue;
        padding-top: 39px;
        color: $black;
      }
    }
  }

  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    padding: 30px 10px;
    animation : translateY-tiny 1s ease-in-out infinite alternate;

    @media (min-width: 768px) {
      display: none;
    }
  }

  & + * {
    margin-top: 100px;
  }
}


/***************************/
/***** Navbar Controls *****/
#nav-close:checked ~ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-close:checked ~ a,
#nav-close:checked ~ [for="nav-close"],
#nav-open:checked ~ [for="nav-open"] {
  display: none;
}

#nav-close:checked + a {
  @media (min-width: 768px) {
    display: flex;
  }
}