//********** SLIDER **********

// 1. Slider class
// 2. Timeline class
// 3. Slide Auto
// 4. Slide Left
// 5. Slide Right

/***** Slider *****/
.slider {
  position: relative;
  overflow: hidden;

  figure {
    display: flex;
    align-items: flex-start;
    width: 200%;
    margin: 0;
  }

  img {
    width: 50%;
  }

  section {
    top: 0;
    left: 10%;
    width: 40%;
    color: white;
    font-weight: bold;

    @media (min-width: 576px) {
      top: 10%;
    }

    @media (min-width: 768px) {
      top: 15%;
    }

    @media (min-width: 992px) {
      top: 20%;
    }

    @media (min-width: 1200px) {
      top: 25%;
    }
  }

  p {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 1rem;

    @media (min-width: 576px) {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 11px;
    }

    @media (min-width: 992px) {
      margin-bottom: 25px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 30px;
      font-size: 1.2rem;
    }
  }

  label {
    top: 30%;
    overflow: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(0.6);
    z-index: 5;

    @media (min-width: 576px) {
      top: 35%;
      transform: scale(0.7);
    }

    @media (min-width: 768px) {
      top: 40%;
      transform: scale(0.8);
    }

    @media (min-width: 992px) {
      top: 43%;
      transform: scale(0.9);
    }

    @media (min-width: 1200px) {
      top: 45%;
      transform: scale(1);
    }
  }
}

/***** Timeline *****/
.timeline {
  height: 3px;
  background-color: $blue;

  @media (min-width: 576px) {
    height: 4px;
  }

  @media (min-width: 768px) {
    height: 5px;
  }

  @media (min-width: 992px) {
    height: 6px;
  }

  @media (min-width: 1200px) {
    height: 7px;
  }
}

/***** Slide Auto *****/
[for="slide-auto"] {
  right: 50%;
  border-radius: 50%;
  padding: 20px;
}

[for="slide-auto"]:hover,
[for="slide-auto"]:active,
[for="slide-auto"]:focus,
.slider section:hover ~ [for="slide-auto"],
.slider section:active ~ [for="slide-auto"],
.slider section:focus ~ [for="slide-auto"] {
  display: block;
}

#slide-auto:checked ~ figure {
  animation: translateX-paused $slider-synchro;
}

#slide-auto:checked ~ .timeline {
  animation: width $slider-synchro;
}

/***** Slide Left *****/
[for="slide-left"] {
  left: -8px;
  border-radius: 0 50px 50px 0;
  padding: 20px 10px 20px 0;

  @media (min-width: 576px) {
    left: -6px;
  }

  @media (min-width: 768px) {
    left: -4px;
  }

  @media (min-width: 992px) {
    left: -3px;
  }

  @media (min-width: 1200px) {
    left: -2px;
  }
}

#slide-left:checked ~ figure {
  transform: translateX(0);
}

#slide-left:checked ~ .timeline {
  width: 0;
}

/***** Slide Right *****/
[for="slide-right"] {
  right: -8px;
  border-radius: 50px 0 0 50px;
  padding: 20px 0 20px 10px;

  @media (min-width: 576px) {
    right: -6px;
  }

  @media (min-width: 768px) {
    right: -4px;
  }

  @media (min-width: 992px) {
    right: -3px;
  }

  @media (min-width: 1200px) {
    right: -2px;
  }
}

#slide-right:checked ~ figure {
  transform: translateX(-50%);
}

#slide-right:checked ~ .timeline {
  width: 100%;
}
