//****************************
//********** SLIDER **********
//****************************

// 1. Slider class
// 2. Slide class
// 3. Slider Controls
// 4. Timeline class


/******************/
/***** Slider *****/
.slider {
  position: relative;
  overflow: hidden;

  section {
    top: 0;
    left: 10%;
    width: 40%;
    color: white;
    font-weight: bold;

    @media (min-width: 576px) {
      top: 10%;
    }

    @media (min-width: 768px) {
      top: 15%;
    }

    @media (min-width: 992px) {
      top: 20%;
    }

    @media (min-width: 1200px) {
      top: 25%;
    }
  }

  p {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1rem;

    @media (min-width: 576px) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: 768px) {
      margin-bottom: 2rem;
      font-size: 1.1rem;
    }

    @media (min-width: 992px) {
      margin-bottom: 2.5rem;
    }

    @media (min-width: 1200px) {
      margin-bottom: 3rem;
      font-size: 1.2rem;
    }
  }

  label {
    top: 30%;
    overflow: hidden;
    color: white;
    background-color: rgba(0,0,0,.3);
    transform: scale(.6);
    z-index: 5;

    @media (min-width: 576px) {
      top: 35%;
      transform: scale(.7);
    }

    @media (min-width: 768px) {
      top: 40%;
      transform: scale(.8);
    }

    @media (min-width: 992px) {
      top: 43%;
      transform: scale(.9);
    }

    @media (min-width: 1200px) {
      top: 45%;
      transform: scale(1);
    }
  }
}


/*****************/
/***** Slide *****/
.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  margin: 0;
}

#slide-auto:checked ~ .slide {
  animation: translateX 7s ease-out infinite alternate 1s;
}

#slide-left:checked ~ .slide {
  transform: translateX(0);
}

#slide-right:checked ~ .slide {
  transform: translateX(-50%);
}


/***************************/
/***** Slider Controls *****/
[for="slide-auto"] {
  right: 50%;
  border-radius: 50%;
  padding: 2rem;
}

[for="slide-auto"]:hover,
[for="slide-auto"]:active,
[for="slide-auto"]:focus,
.slider section:hover ~ [for="slide-auto"],
.slider section:active ~ [for="slide-auto"],
.slider section:focus ~ [for="slide-auto"] {
  display: block;
}

[for="slide-left"] {
  left: -8px;
  border-radius: 0 5rem 5rem 0;
  padding: 2rem 1rem 2rem 0;

  @media (min-width: 576px) {
    left: -6px;
  }

  @media (min-width: 768px) {
    left: -4px;
  }

  @media (min-width: 992px) {
    left: -3px;
  }

  @media (min-width: 1200px) {
    left: -2px;
  }
}

[for="slide-right"] {
  right: -8px;
  border-radius: 5rem 0 0 5rem;
  padding: 2rem 0 2rem 1rem;

  @media (min-width: 576px) {
    right: -6px;
  }

  @media (min-width: 768px) {
    right: -4px;
  }

  @media (min-width: 992px) {
    right: -3px;
  }

  @media (min-width: 1200px) {
    right: -2px;
  }
}


/***************************/
/***** Slider Timeline *****/
.timeline {
  margin-top: -3px;
  height: 6px;
  background-color: $blue;

  @media (min-width: 576px) {
    height: 7px;
  }

  @media (min-width: 768px) {
    height: 8px;
  }

  @media (min-width: 992px) {
    height: 9px;
  }

  @media (min-width: 1200px) {
    height: 10px;
  }
}


#slide-auto:checked ~ .timeline {
  animation: width 7s ease-out infinite alternate 1s;
}

#slide-left:checked ~ .timeline {
  width: 0;
}

#slide-right:checked ~ .timeline {
  width: 100%;
}