/******************/
/***** Slider *****/

.slider {
  position: relative;
  overflow: hidden;
}


.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  margin: 0;
}

#slide-auto:checked ~ .slide {
  animation: translateX 7s ease-out infinite alternate 1s;
}

#slide-left:checked ~ .slide {
  transform: translateX(0);
}

#slide-right:checked ~ .slide {
  transform: translateX(-50%);
}

/* Slider Content */
.slider section {
  top: 5%;
  left: 10%;
  width: 40%;
  color: white;
  font-weight: bold;
}

.slider p {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Slider Visual Controls */
.slider label {
  top: 30%;
  overflow: hidden;
  color: white;
  background-color: rgba(0,0,0,.3);
  transform: scale(.6);
  z-index: 5;
}

[for="slide-auto"] {
  right: 50%;
  border-radius: 50%;
  padding: 2rem;
}

[for="slide-left"] {
  left: -8px;
  border-radius: 0 5rem 5rem 0;
  padding: 2rem 1rem 2rem 0;
}

[for="slide-right"] {
  right: -8px;
  border-radius: 5rem 0 0 5rem;
  padding: 2rem 0 2rem 1rem;
}

/* Timeline */
.timeline {
  margin-top: -3px;
  height: 6px;
  background-color: $blue;
}

#slide-auto:checked ~ .timeline {
  animation: width 7s ease-out infinite alternate 1s;
}

#slide-left:checked ~ .timeline {
  width: 0;
}

#slide-right:checked ~ .timeline {
  width: 100%;
}

[for="slide-auto"]:hover,
[for="slide-auto"]:active,
[for="slide-auto"]:focus,
.slider section:hover ~ [for="slide-auto"],
.slider section:active ~ [for="slide-auto"],
.slider section:focus ~ [for="slide-auto"] {
  display: block;
}

@media (min-width: 576px) {
  /* Slider Content */
  .slider section {
    top: 10%;
  }

  .slider p {
    margin-bottom: 1.5rem;
  }

  /* Slider Visual Controls */
  .slider label {
    top: 35%;
    transform: scale(.7);
  }

  [for="slide-left"] {
    left: -6px;
  }

  [for="slide-right"] {
    right: -6px;
  }

  /* Timeline */
  .timeline {
    height: 7px;
  }
}

@media (min-width: 768px) {
  /* Slider Content */
  .slider section {
    top: 15%;
  }

  .slider p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }

  /* Slider Visual Controls */
  .slider label {
    top: 40%;
    transform: scale(.8);
  }

  [for="slide-left"] {
    left: -4px;
  }

  [for="slide-right"] {
    right: -4px;
  }

  /* Timeline */
  .timeline {
    height: 8px;
  }
}

@media (min-width: 992px) {
  /* Slider Content */
  .slider section {
    top: 20%;
  }

  .slider p {
    margin-bottom: 2.5rem;
  }

  /* Slider Visual Controls */
  .slider label {
    top: 43%;
    transform: scale(.9);
  }

  [for="slide-left"] {
    left: -3px;
  }

  [for="slide-right"] {
    right: -3px;
  }

  /* Timeline */
  .timeline {
    height: 9px;
  }
}

@media (min-width: 1200px) {
  /* Slider Content */
  .slider section {
    top: 25%;
  }

  .slider p {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  /* Slider Visual Controls */
  .slider label {
    top: 45%;
    transform: scale(1);
  }

  [for="slide-left"] {
    left: -2px;
  }

  [for="slide-right"] {
    right: -2px;
  }

  /* Timeline */
  .timeline {
    height: 10px;
  }
}