//**************************
//********** TEXT **********
//**************************

.text {
  img {
    width: unset;
    animation: scale-opacity 2s;

    @media (min-width: 768px) {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 40%;
      left: -10%;
    }

    @media (min-width: 1200px) {
      left: 0;
    }
  }

  section {
    padding-bottom: 50px;

    @media (min-width: 992px) {
      margin-top: 0;
      margin-left: 50%;
    }

    p {
      margin-top: 10px;
      text-align: justify;
      color: $grey;

      @media (min-width: 576px) {
        margin-left: 20%;
      }
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    text-align: center;

    @media (min-width: 576px) {
      margin-left: 20%;
      padding-top: 0;
      text-align: left;
    }
  }
}



